html, body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#06f56180,#68fd689f, transparent);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SourceSansProBold';
  src: local('SourceSansProBold'), url(./fonts/SourceSansPro-Bold.ttf) format('truetype');
}